<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.josephbeaulieu.rdpocketpal">

    <application
        android:name="com.josephbeaulieu.rdpocketpal.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3221996738700475~8887844463" />
        <!-- Home -->
        <activity android:name="com.josephbeaulieu.rdpocketpal.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Settings -->
        <activity
            android:name="com.josephbeaulieu.rdpocketpal.settings.SettingsActivity"
            android:label="@string/title_settings" />
        <!-- Predictive Equations -->
        <activity
            android:name="com.josephbeaulieu.rdpocketpal.predictiveequations.PredictiveEquationsActivity"
            android:label="@string/title_predictive_equations"
            android:parentActivityName="com.josephbeaulieu.rdpocketpal.home.HomeActivity" />
        <!-- Quick Method -->
        <activity
            android:name="com.josephbeaulieu.rdpocketpal.quickmethod.QuickMethodActivity"
            android:label="@string/title_quick_method"
            android:parentActivityName="com.josephbeaulieu.rdpocketpal.home.HomeActivity" />
        <!-- Anthropometrics -->
        <activity
            android:name="com.josephbeaulieu.rdpocketpal.anthropometrics.AnthropometricsActivity"
            android:label="@string/title_anthropometrics"
            android:parentActivityName="com.josephbeaulieu.rdpocketpal.home.HomeActivity" />
        <!-- Conversions -->
        <activity
            android:name="com.josephbeaulieu.rdpocketpal.conversions.ConversionActivity"
            android:label="@string/title_conversions"
            android:parentActivityName="com.josephbeaulieu.rdpocketpal.home.HomeActivity" />
    </application>

</manifest>