<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.octrobi.rdpocketpal">

    <!-- For loading banner ad loadAd() -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/APP_ID" />
        <!-- Splash Screen -->
        <activity
            android:name=".splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Get Started -->
        <activity
            android:name=".getstarted.GetStartedActivity"
            android:label="@string/title_get_started" />
        <!-- Home -->
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/app_name"
            android:parentActivityName=".splash.SplashActivity" />
        <!-- Predictive Equations -->
        <activity
            android:name=".predictiveequations.PredictiveEquationsActivity"
            android:label="@string/title_predictive_equations"
            android:parentActivityName=".home.HomeActivity" />
        <!-- Quick Method -->
        <activity
            android:name=".quickmethod.QuickMethodActivity"
            android:label="@string/title_quick_method"
            android:parentActivityName=".home.HomeActivity" />
        <!-- Anthropometrics -->
        <activity
            android:name=".anthropometrics.AnthropometricsActivity"
            android:label="@string/title_anthropometrics"
            android:parentActivityName=".home.HomeActivity" />
        <!-- Conversions -->
        <activity
            android:name=".conversions.ConversionActivity"
            android:label="@string/title_conversions"
            android:parentActivityName=".home.HomeActivity" />
        <!-- Disclaimer -->
        <activity
            android:name=".disclaimer.DisclaimerActivity"
            android:label="@string/title_disclaimer" />
        <!-- Settings -->
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_settings" />
    </application>

</manifest>